# Jupyter Checkpoints
.ipynb_checkpoints/
*.ipynb

# dso2 local virtual environment
dso2/.venv/

dso_avatar/venv/
dso_avatar/**/venv/
**/__pycache__/
*.pyc
*.pyc
*.pyo

*.csv
.venv

# Environment Variables
.env

# Models and Weights
models/
dso_avatar/gfpgan/weights/
*.pth
*.onnx
*.dna
*.weights
*.bin
*.exe
*.zip
*.tar
*.tgz
*.gz
*.7z
