fastapi
uvicorn
transformers
torch
torchvision
torchaudio
librosa
pillow
numpy
pydantic
python-multipart
scipy
accelerate
bitsandbytes
torch-geometric
ultralytics
opencv-python
pandas
seaborn
matplotlib
scikit-learn
tqdm
mediapipe
sounddevice
soundfile
SpeechRecognition
